/* main body css */

/* commence primary ignition */

  * {
    box-sizing: border-box;
  }

  header, section, footer, aside, nav, article, figure, figcaption {
    display: block;
  }
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
  body { 
    font-family: Georgia, "Times New Roman", serif, Myriad Pro;
    background-position: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
   
/* end primary ignition */

/* start header */

  header {
    width: 100%;
    margin: 0 auto;
  }

  h1 {
    color: #1e88f7;
    font-size: 3.25rem;
    font-family: 'Inconsolata',;
    font-weight: 300;
    letter-spacing: .15rem;
    width: 50%;
    margin: 1rem auto;
    text-align: center;
  }

/* end header */

/* start nav */

  nav {
    width: 100%;
    margin-bottom: .5rem;
  }
  .navbar-fixed {
  position: fixed;
  top: -47px;
  background-color: #333333;
  z-index: 9999;
}
  nav ul {
    width: 100%;
    height: 4rem;
    padding: .5rem 0rem;
    text-align: center;
  }
  nav ul li {
    display: inline;
    width: 5rem;
    height: 3rem;
    margin: 0 auto;
  }
  .nav {
    height: 3rem;
    width: 6rem;
    color: #ffffff;
    background-color: #1e88f7;
    display: inline-block;
    margin: 0rem .15rem;
    padding: .15rem;
  }
  nav p {
    font-family: 'Inconsolata',;
    font-size: 1.15rem;
    margin-top: .85rem;
  }

/* end nav */

/* start main section */

  h2 {
    font-size: 1.5rem;
    font-family: 'Inconsolata';
  }
  section, article, figure, figcaption, img{
    width: 100%;
  }
  figure {
    margin: 0;
  }
  
  /*figure img {
    width: 90%;
    padding-left: 10%
  } */
  article h2 {
    width: 60%;
    padding-left: 20%;
    margin: .5rem 0rem 1rem 0rem;
  }
  .content {
    width: 80%;
    padding-left: 20%;
    font-family: 'Amiri', serif;
    font-size: 1.3rem;
    margin: .75rem 0rem;
  }

/* end main section */

/* start aside */

  aside {
    width: 100%;
    margin: 1.1rem 0rem .1rem 0rem;
  }
  aside ul {
    width: 100%;
    height: 4rem;
    padding: .15rem;
    margin: 0 auto;
    text-align: center;
  }
  aside ul li {
    display: inline;
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
  }
  aside p {
    font-family: 'Inconsolata',;
    font-size: 1.15rem;
    margin-top: .85rem;
    margin-bottom: .8rem;
    text-align: center;
  }

  /* NOTE! certain code here might be considered redundant because
  it's basically the same as the <nav> CSS, but placed instead within
  an <aside> at the bottom of the page. Consider revising.  */

/* end aside */

/* start footer */

  footer {
    clear: all;
    width: 100%;
    height: 7rem;
    background-color: #333333;
  }
  footer p {
    color: #ffffff;
    font-family: "Century Gothic", sans-serif;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: .75rem 0rem 0rem 0rem;
  }
  footer a {
    text-decoration: none;
  }

/* end footer */